<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53452653421-usi4t2a5mmcq1a3go6tjr52d0ikflmum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53452653421-usi4t2a5mmcq1a3go6tjr52d0ikflmum</string>
	<key>API_KEY</key>
	<string>AIzaSyDEvBLhQcc5MvMfZp2NslWyIwxyUr3c8Pc</string>
	<key>GCM_SENDER_ID</key>
	<string>53452653421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yuhsuan.demo1</string>
	<key>PROJECT_ID</key>
	<string>demo1-43637</string>
	<key>STORAGE_BUCKET</key>
	<string>demo1-43637.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53452653421:ios:c3794da7195a27cd021064</string>
</dict>
</plist>